.usage-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
  }
  h1{
    text-align: center;
  }
  .card {
    width: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    padding: 20px;
    text-align: center;
  }
  
  h3 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .semicircle-wrapper {
    position: relative;
    width: 150px;
    height: 75px;
    margin: 0 auto 10px;
  }
  
  .semicircle-bg {
    width: 100%;
    height: 100%;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    background: #e0e0e0;
    position: relative;
    overflow: hidden;
  }
  
  .semicircle-fill {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00c6ff;
    transform-origin: center bottom;
    clip-path: polygon(50% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 50%);
    transition: transform 0.3s ease;
  }
  
  .center-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #333;
  }
  
  .range {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 0 10px;
    color: #777;
  }
  .graph{
    margin: 10%;
    margin-left: 30%;
    transform: scale(1.4);
    width: 45%;
    border: 2px solid black;
  }