.container{
  height: 100vh;
  width: 1000vw;
    justify-content: center;
  align-items: center;
  display: flex;
  background-color: #282c34;
}
form{
  background-color: rgb(16, 67, 54);
  width: 35%;
  padding:  70px 20px 70px 20px;
  justify-content: center;
  align-items: center;
  display: flex;
flex-direction: column;

}